html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #0E0E0E, #121212 );
  font-family: 'Inter',sans-serif;
  overflow: hidden;
}

.app_navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Inter',sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  box-shadow: 0px 2px 50px #898888cc;
}

.app_h1 {
  font-size: 24px;
  font-family: 'Inter',sans-serif;
  font-weight: 700;
  margin: 40px auto;
  text-align: center;
  color: #ccc;
  letter-spacing: 0.5px;
}


.Certificate_container {
  width: 35%;
  height: 250px;
  background:linear-gradient(to right, #1A1A1A, #1F1F1F);
  padding-left: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  box-shadow: 0px 2px 5px black;
  margin-bottom: 40px;
}

.Certificate_container h1 {
  font-size: 18px;
  color: #ccc;
}

.Certificate_container h3 {
  font-size: 14px;
  color: #cccc;
  letter-spacing: 1px;
}

.Certificate_container p {
  font-size: 16px;
  color: #E53935;
  font-weight: 600;
  letter-spacing: 1px;
  
}

.Certifi_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificate_btn {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: black;
  border: none;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ccc;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  font-weight: 400;
  font-family: 'Inter',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate_btn:hover {
  color: white;
  background-color: rgb(70, 69, 69);
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top: 5px solid red;
  transition: 2s ease-in-out;
  animation: spring 1s ease-in-out infinite;
}

@keyframes spring {
  to {transform: rotate(360deg);}
}


.LoadingContainer {
  width: 100vw;
  height: 100dvh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #cccc;
  border-top: 5px solid red;
  animation: pageloader 1s ease-in-out infinite;
}

@keyframes pageloader {
  to {transform: rotate(360deg);}
}




.FormContainer {
  width: 100%;
  min-height: 100vh;
  background:linear-gradient(to right, #1A1A1A, #1F1F1F);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.FormContainer.open {
  opacity: 1;
  pointer-events: all;
}



.Form {
  width: 30%;
  height: 700px;
  background: linear-gradient(to right, #0E0E0E, #121212 );  
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-left: 70px;
  box-shadow: 0px 5px 10px rgb(12, 12, 12);
  transform: scale(0.8);
  opacity: 0;
  font-family: 'Inter', sans-serif;
  transition: all 0.5s   ease;
}


.FormContainer.open .Form {
  opacity: 1;
  transform: scale(1);
}


.form-input {
  width: 80%;
  height: 20px;
  background-color: inherit;
  border-bottom-right-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #777777cc;
  padding-left: 5px;
}

.form-input::placeholder {
  color: #3c3c3c;
}

.form-btn {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background:linear-gradient(to right, #1A1A1A, #1F1F1F);
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.form-btn:hover {
  background: #cccc;
  color: black;
  transition: 0.2s ease;
}

.Form h1 {
  font-size: 28px;
  color: white;
}

.Form p {
  font-size: 14px;
  font-weight: 600;
  color: #00a2ff;
}

.Form label {
  color: white;
}


.close-div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  z-index: 1000;
  right: 20px;
  top: 20px;
}

.close-btn {
  width: 40px;
  height: 35px;
  border: none;
  color: black;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.buy-loader {
  width: 30px;
  height: 30px;
  border: 3px solid #cccc;
  border-top: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: buyloader 1s ease-in-out infinite;
}

@keyframes buyloader {
  to {transform: rotate(360deg);}
}

.notify-div {
  width: 250px;
  height: 100px;
  background-color: rgb(250, 247, 247);
  position: fixed;
  top: 100px;
  right: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateX(120%);
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 1001;
}

.notify-div.show-open {
  opacity: 1;
  transform: translateX(0);
}

.notify-div p {
  color: #3e3e3ecc;
  font-size: 14px;
}


.ProfilContainer {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-color: #1A1A1A;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(20px);
  pointer-events: none;
}

.ProfilContainer.open_profile {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.profile-box {
  width: calc(100% - 1000px);
  height: calc(100% - 200px);
  background-color: #0E0E0E;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #1F1F1F;
}

.header-top {
  width: calc(100% - 50px);
  height: 150px;
  background-color: #121212;
  margin: 25px auto;
  border-radius: 10px;
  box-shadow: 0px 2px 5px black;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
  position: relative;
  gap: 20px;
}

.profile-close-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: red;
}

.header-top p {
  margin: 0;
  color: #cccc;
  font-weight: 600;
  letter-spacing: 1px;
}


@media (max-width: 430px) {
  .Certificate_container {
    width: 85%;
    height: 190px;
    justify-content: flex-start;
    overflow: hidden; 
    margin-bottom: 30px;
    padding-left: 20px;
  }

  .Certificate_container h1 {
    font-size: 14px;
    padding-top: 10px;
  }

  .Certificate_container h3 {
    font-size: 12px;
  }

  .certificate_btn {
    width: 100px;
    height: 35px;
    font-size: 12px;
  }

  .Certifi_div {
    justify-content: flex-start;
    width: 100%;
    max-width: 430px;
    height: (calc(100% - 150px));
    min-height: 100vh;
  }

  .loader {
    width: 20px;
    height: 20px;
    border: 2px solid #cccc;
    border-top: 2px solid red;
  }

  .Form {
    width: 90%;
    height: 600px;
    padding-left: 20px;
    font-size: 14px;
  }

  .Form p {
    font-size: 12px;
  }

  .form-input {
    width: 95%;
  }

  .form-btn {
    width: 95%;
    height: 50px;
  }

  .close-div {
    width: 30px;
    height: 30px;
  }

  .close-btn {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .buy-loader {
    width: 25px;
    height: 25px;
  }

  .notify-div {
    right: 85px;
    transform: translateY(-120%);
  }

  .notify-div.show-open {
    transform: translate(0);
  }

  .profile-box {
    width: calc(100% - 50px);
  }

  .footer-container {
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .account-btn {
    width: calc(100% - 200px);
    height: calc(100% - 20px);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
  }
}

