.App {
  width: 100vw;
  min-height: 100vh;
  background: rgb(22, 22, 22);
  font-family: 'Montserrat',sans-serif;
}

.app_navbar {
  width: 100%;
  height: 40px;
  background-color: rgb(247, 177, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Comfortaa',sans-serif;
  color: rgb(37, 37, 37);
  letter-spacing: 1px;

}

.app_h1 {
  font-size: 24px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  margin: 40px auto;
  text-align: center;
  color: wheat;
}


.Certificate_container {
  width: 35%;
  height: 220px;
  background:linear-gradient(to right, rgb(254, 252, 252), rgb(245, 178, 53));
  padding-left: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  box-shadow: 0px 2px 5px wheat;
  margin-bottom: 50px;
}

.Certificate_container h1 {
  font-size: 18px;
  color: black;
}

.Certificate_container h3 {
  font-size: 14px;
  color: rgb(56, 55, 55);
}

.Certificate_container p {
  font-size: 14px;
  color: red;
  font-weight: 600;
  letter-spacing: 1px;
  
}

.Certifi_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificate_btn {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  border: 1px solid #cccc;
  border-radius: 5px;
  background-color: orange;
  font-size: 15px;
  letter-spacing: 1px;
  color: #323232;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  font-weight: 600;
  font-family: 'Montserrat',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 2px #cccc;
}

.certificate_btn:hover {
  color: white;
  background-color: black;
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top: 5px solid red;
  transition: 2s ease-in-out;
  animation: spring 1s ease-in-out infinite;
}

@keyframes spring {
  to {transform: rotate(360deg);}
}


.LoadingContainer {
  width: 100vw;
  height: 100dvh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #cccc;
  border-top: 5px solid red;
  animation: pageloader 1s ease-in-out infinite;
}

@keyframes pageloader {
  to {transform: rotate(360deg);}
}




.FormContainer {
  width: 100vw;
  height: 100dvh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  inset: 0;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {opacity: 1;}
}


.Form {
  width: 40%;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-left: 150px;
  box-shadow: 0px 5px 10px wheat;
  transform: translateY(-100%);
  opacity: 0;
  animation: fadeDown 0.5s ease forwards;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

@keyframes fadeDown {
  to {transform: translateY(0%);
  opacity: 1;}
}


.form-input {
  width: 70%;
  height: 35px;
  background-color: #f3f1f1;
  border: none;
  color: black;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #cccc;
  padding-left: 15px;
}

.form-btn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}


@media (max-width: 430px) {
  .Certificate_container {
    width: 85%;
    height: 180px;
    justify-content: flex-start;
    overflow: hidden; 

    padding-left: 20px;
  }

  .Certificate_container h1 {
    font-size: 14px;
    padding-top: 10px;
  }

  .Certificate_container h3 {
    font-size: 12px;
  }

  .certificate_btn {
    width: 100px;
    height: 35px;
    font-size: 12px;
  }

  .Certifi_div {
    justify-content: flex-start;
  }

  .loader {
    width: 20px;
    height: 20px;
    border: 2px solid #cccc;
    border-top: 2px solid red;
  }

  .Form {
    width: 90%;
    height: 500px;
    padding-left: 20px;
    font-size: 14px;
  }

  .form-input {
    width: 90%;
  }

  .form-btn {
    width: 120px;
    height: 50px;
  }
}

