.App {
  width: 100vw;
  min-height: 100vh;
  background: rgb(22, 22, 22);
  font-family: 'Montserrat',sans-serif;
}

.app_navbar {
  width: 100%;
  height: 40px;
  background-color: rgb(14, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Comfortaa',sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;

}

.app_h1 {
  font-size: 24px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  margin: 40px auto;
  text-align: center;
  color: #ccc;
}


.Certificate_container {
  width: 35%;
  height: 220px;
  background:linear-gradient(to right, white, #adacaccc);
  padding-left: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  box-shadow: 0px 2px 5px black;
  margin-bottom: 50px;
}

.Certificate_container h1 {
  font-size: 18px;
  color: black;
}

.Certificate_container h3 {
  font-size: 14px;
  color: rgb(56, 55, 55);
}

.Certificate_container p {
  font-size: 14px;
  color: red;
  font-weight: 600;
  letter-spacing: 1px;
  
}

.Certifi_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificate_btn {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  border: 1px solid #cccc;
  border-radius: 5px;
  background-color: black;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  font-weight: 600;
  font-family: 'Montserrat',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate_btn:hover {
  color: white;
  background-color: rgb(70, 69, 69);
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top: 5px solid red;
  transition: 2s ease-in-out;
  animation: spring 1s ease-in-out infinite;
}

@keyframes spring {
  to {transform: rotate(360deg);}
}


.LoadingContainer {
  width: 100vw;
  height: 100dvh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #cccc;
  border-top: 5px solid red;
  animation: pageloader 1s ease-in-out infinite;
}

@keyframes pageloader {
  to {transform: rotate(360deg);}
}




.FormContainer {
  width: 100vw;
  height: 100dvh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(100px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.FormContainer.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}



.Form {
  width: 30%;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-left: 70px;
  box-shadow: 0px 5px 10px wheat;
  transform: scale(0.8);
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s   ease;
}


.FormContainer.open .Form {
  opacity: 1;
  transform: scale(1);
}


.form-input {
  width: 80%;
  height: 20px;
  background-color: inherit;
  border-bottom-right-radius: 10px;
  border: none;
  color: black;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #5b5a5acc;
  padding-left: 5px;
}

.form-btn {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form h1 {
  font-size: 28px;
}

.Form p {
  font-size: 14px;
  font-weight: 600;
}

.close-div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  z-index: 1000;
  right: 20px;
  top: 20px;
}

.close-btn {
  width: 40px;
  height: 40px;
  border: none;
  color: black;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.buy-loader {
  width: 30px;
  height: 30px;
  border: 3px solid #cccc;
  border-top: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: buyloader 1s ease-in-out infinite;
}

@keyframes buyloader {
  to {transform: rotate(360deg);}
}


@media (max-width: 430px) {
  .Certificate_container {
    width: 85%;
    height: 180px;
    justify-content: flex-start;
    overflow: hidden; 

    padding-left: 20px;
  }

  .Certificate_container h1 {
    font-size: 14px;
    padding-top: 10px;
  }

  .Certificate_container h3 {
    font-size: 12px;
  }

  .certificate_btn {
    width: 100px;
    height: 35px;
    font-size: 12px;
  }

  .Certifi_div {
    justify-content: flex-start;
  }

  .loader {
    width: 20px;
    height: 20px;
    border: 2px solid #cccc;
    border-top: 2px solid red;
  }

  .Form {
    width: 90%;
    height: 500px;
    padding-left: 20px;
    font-size: 14px;
  }

  .Form p {
    font-size: 12px;
  }

  .form-input {
    width: 95%;
  }

  .form-btn {
    width: 95%;
    height: 50px;
  }

  .close-div {
    width: 30px;
    height: 30px;
  }

  .close-btn {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}

